<%= form_for(bet) do |f| %>
  <div class="form-group">
    <% if bet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

        <ul>
          <% bet.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, 'Tu Nombre' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :when, 'En que fecha te parece?' %>
      <%= f.date_select :when, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit('Enviar') %>
    </div>
  </div>
<% end %>
