@import "bootstrap-sprockets";
@import "bootstrap";

// .day {
//   border: 1px solid;
//   height: 80px;
//   text-align: right;
//   vertical-align: top;
//   width: 80px;
// }
td.day {
//   display: flex;
  max-width: 50px;
}
//
.day ul {
//   display: flex;
//   margin: 0;
//   padding: 0;
  list-style-type: none;
}

.day button {
  font-size: 10px;
  width: 100%;

  padding: 4px;
}

.past {
  color: grey;

  .label {
    background-color: grey;
  }
}
.today {
  background-color: #c6cee4;
}
